body {
  background: #000;
  color: white;
  text-align: center;
  font-family: -apple-system;
}

textarea, input {
  margin: 5px;
  padding: 8px;
}

button {
  padding: 10px 15px;
  margin: 5px;
}

.circle {
  position: relative;
  width: 200px;
  margin: auto;
}

svg {
  width: 200px;
  height: 200px;
  transform: rotate(-90deg);
}

circle {
  fill: none;
  stroke-width: 10;
  stroke: #333;
}

#progressCircle {
  stroke: #0a84ff;
  stroke-dasharray: 565;
  stroke-dashoffset: 565;
  transition: stroke-dashoffset 1s linear;
}

#timer {
  position: absolute;
  top: 70px;
  left: 0;
  right: 0;
  font-size: 40px;
}

.bar {
  width: 90%;
  height: 10px;
  background: #222;
  margin: 20px auto;
}

#totalProgress {
  height: 10px;
  width: 0%;
  background: #0a84ff;
}

.controls {
  margin-top: 10px;
}
